* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eaeaea;    
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.d-flex {
  display: flex;
}

.flex-d-column {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.container {
  width: 100%;
  max-width: 1000px;    
  margin: 0 auto;
}

.color-red {
  color: #c6443e !important;
}

.color-green {
  color: #2daf7f !important;
}

.color-blue {
  color: #1f8ecd !important;
}

.color-yellow {
  color: #e19205 !important;
}

.champion-img {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
}

.kda,
.kda-ratio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  white-space: pre;
}

.kda span {
  font-size: 11px;
  font-weight: bold;

  &.divider {
    font-family: Helvetica;
    font-size: 11px;
    color: #999;
  }
}

.search-tab {
  .tab__header-item {
    height: 40px !important;
    background-color: #e3e3e3 !important;    
    
    span,
    &:hover span {
      color: #9c9c9c !important;
    }

    &.active {
      background-color: #fff !important;
      span,
      &:hover span {
        font-weight: normal !important;
        color: #4a4a4a !important;
      }
    }
  }
  
  .tab-pane {
    background-color: #fff !important;
  }
}